


body {

  font-family: "Comfortaa";
  background-color:#E724F1 ;
}

.jumbotron {
  
  margin: 0 !important;
  padding: 65px !important;
  border: 0px !important;
  background-color: #F67EDD  !important ;
  color: white;
}

h1 {
  font-family: "Comfortaa"; 
}

.DropdownItem {
  Background-Color: red;
}

.header {
  
  font-family: 'Comfortaa';
  background-color:#E724F1 !important;
  padding: 20px;
  margin: 0px;
  border: 0px;


}

.modal-header{
  background-color: #0BE8DB;
  font-family: "Comfortaa" !important;
}

.button {
  color: #0BE8DB;
}

.footer {
font-family: "Confortaa";

}

.site-footer {
  background-color: #F67EDD;
  color: white;
  font-size: 19px;
  padding: 20px;
}

.dropdown-menu {
  background-color: #0BE8DB !important;
}

.dropdown-toggle {
  color: antiquewhite;
}

.subBut {
margin-left: 10px;
background-color:#0BE8DB !important;
color: white !important;
padding: 11px 12px 10px!important;
border-color: white !important;
}

.modBut {
  color: white !important;
  background-color:#0BE8DB !important;
  border-color: white !important;
}

.modalBut {
  background-color:#0BE8DB !important;
}

.dropBut {
  border-color: white !important;
  color: white !important;
  
}

 
.navB {
  color: white !important;
  background-color:#F67EDD !important;
  border-color: white !important;
  

  
}

.dogClass {
  text-align: center;
  border-style: solid;
  border-color: #0BE8DB;
  padding: 5px;
  margin: 25px;
}

.dogCont {
  background-color: cornsilk;
}

